---
import Layout from "../layouts/Layout.astro";
import nearest from "../../lib/nearest";
import codes from '../codes';
import '../global.css';

const lat = '51.5072';
const lon = '0.1276';

const weather = await fetch(`https://api.open-meteo.com/v1/forecast?latitude=${lat}&longitude=${lon}&hourly=temperature_2m&models=best_match&current_weather=true`); // Bialystok
const location = await fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${lat}&lon=${lon}&apiKey=578e174b86d84134a1eb2c82258823f9`);

const weatherdata = await weather.json();
const locationdata = await location.json();

console.log(locationdata.features[0].properties.city);

let time = weatherdata.hourly.time;
time.forEach((date, index) => {  
		time[index] = new Date(date);
});

const temperature = weatherdata.hourly.temperature_2m[nearest(time, new Date())];
const weathercode = String(weatherdata.current_weather.weathercode);

---

<Layout title="Weather">
  <div class="flex flex-col w-2/5 h-2/3 bg-[url('/img/morning-clouds.gif')] bg-cover rounded-2xl">
    <div class="flex flex-col justify-center items-center h-1/3 rounded-2xl">
      <h1 class="text-white font-semibold text-xl drop-shadow-xl">
        {locationdata.features[0].properties.city}
      </h1>
      <p class="text-white text-6xl drop-shadow-xl font-semibold">{temperature}°</p>
      <p class="text-white text-md drop-shadow-xl font-semibold">{codes[weathercode]}</p>
    </div>
  </div>
</Layout>
